body {
  background-color: #031630;
  color: #92A1B5;
  font-family: "Roboto", sans-serif;
}

input {
  background-color: #2C4870;
  color: #92A1B5;
  font-family: "Baloo Tamma 2", cursive;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form {
  padding: 1rem 0.5rem;
  background: #0F2A50;
}
.form input[type=text],
.form input[type=number] {
  margin-right: 1rem;
  border: 0.09rem inset #999;
  padding: 0.2rem 0.5rem;
  border-radius: 0.4rem;
}
.form input[type=text]:focus,
.form input[type=number]:focus {
  border: 0.09rem inset #666;
}
.form label {
  display: inline-block;
  margin-right: 1.5rem;
  width: 8rem;
  text-align: right;
}
.form label:after {
  content: ":";
}
.form div {
  margin-bottom: 1rem;
}
.form input[type=button] {
  background: #0f2a50;
  background: linear-gradient(0deg, rgba(15, 42, 80, 0.5) 0%, rgba(44, 72, 112, 0.5) 35%, rgba(146, 161, 181, 0.5) 100%);
  color: #fff;
  padding: 0.5rem 1rem;
  border: 0.09rem solid #999;
  border-radius: 0.4rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.date-of-birth-form {
  background-color: #2C4870;
  display: inline-block;
  border-radius: 0.4rem;
  border: 0.09rem solid #999;
  padding: 0;
  margin: 0;
  width: 12.5rem;
}
.date-of-birth-form div {
  display: inline-block;
}
.date-of-birth-form label {
  margin: 0;
  width: 3rem;
}
.date-of-birth-form div {
  padding: 0;
  margin: 0;
}
.date-of-birth-form input {
  width: 2.4rem;
  border: none !important;
  margin: 0 !important;
  text-align: center;
}

.form-control {
  display: inline-block;
}

.aa-dropdown-menu {
  background-color: #000;
  padding: 1rem;
}

.loader .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader .lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.loader .lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loader .lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loader .lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}