@inherits Umbraco.Web.Mvc.UmbracoViewPage<IBasePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;
}
<!-- Base Page -->
<h1>@Model.Title</h1>
<p>@Html.Raw(Model.Summary)</p>
<!-- Base Page End -->